<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>懒人商城后台系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by mannatthemes" name="description" />
    <meta content="Mannatthemes" name="author" />
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico">
    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="topbar">
    <nav class="navbar-custom">
        <div class="topbar-left">
            <a href="index.html" class="logo">
                        <span>
                            <img src="../../static/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                        </span>
                <span>
                            <img src="../../static/assets/images/logo-dark.png" alt="logo-large" class="logo-lg">
                        </span>
            </a>
        </div>
    </nav>
</div>
<div class="page-wrapper-img">
    <div class="page-wrapper-img-inner">
        <div class="sidebar-user media">
            <div class="media-body">
                <h5 class="text-light" th:text="${session.username}">Mr. Michael Hill </h5>
                <ul class="list-unstyled list-inline mb-0 mt-2">
                    <li class="list-inline-item">
                        <a th:href="@{/user/admin/exit}" class=""><i class="mdi mdi-power text-danger"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right align-item-center mt-2">
                        <button id="goAddGoods" class="btn btn-info px-4 align-self-center report-btn">添加商品</button>
                        <button id="del_goods" class="btn btn-info px-4 align-self-center report-btn">删除选中的商品</button>
                    </div>
                    <h4 class="page-title mb-2"><i class="mdi mdi-format-list-checkbox mr-2"></i>商品管理</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="page-wrapper-inner">
         <div class="left-sidenav">
                    
            <ul class="metismenu left-sidenav-menu" id="side-nav">

                <li class="menu-title">Main</li>
                <li>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="/admin/getAllGoods"> 商品管理 </a>
                            <a href="/order/admin/all"> 订单管理 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h2 class="mt-0 header-title">商品列表</h2>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>商品ID</th>
                                        <th>商品名字</th>
                                        <th>商品种类ID</th>
                                        <th>商品售价</th>
                                        <th>商品销售状态</th>
                                        <th>商家ID</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    <tr th:each="item,goodsStat:${goodsList}">
                                        <td>
                                            <input type="checkbox" th:value="${item.goodsId}">
                                        </td>
                                        <td th:text="${item.goodsId}"></td>
                                        <td>
                                            <p class="d-inline-block align-middle mb-0">
                                                <a th:href="@{/admin/getGoodsDetail/{goodsId}(goodsId=${item.goodsId})}" class="d-inline-block align-middle mb-0 product-name" th:text="${item.goodsName}">Adidas Footboll</a>
                                            </p>
                                        </td>
                                        <td th:text="${item.goodsCategoryId}">Sports</td>
                                        <td th:text="'$'+${item.sellingPrice}">$39</td>
                                        <td><span class="badge badge-soft-warning" th:text="${item.sellStatus}">0</span></td>
                                        <td th:text="${item.createUser}">0</td>
                                        <td>
                                            <a th:href="@{/admin/goEditGoods/{goodsId}(goodsId=${item.goodsId})}" target="_blank" class="btn btn-outline-secondary btn-sm"><i class="far fa-edit"></i></a>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../static/assets/js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{../../static/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{../../static/js/metisMenu.min.js}"></script>
<script type="text/javascript" th:src="@{../../static/js/waves.min.js}"></script>
<script type="text/javascript" th:src="@{../../static/js/jquery.slimscroll.min.js}"></script>
<script>

    $("#goAddGoods").click(function (){
        //通过控制层页面跳转
        window.open("/admin/goAddGoods","_blank");//打开一个新窗口
    });
    $("#del_goods").click(function (){
        let ids=[];
        let chkBoxes=$(".page-content").find("input:checkbox:checked");
        $(chkBoxes).each(function (){
            let id=$(this).attr("value");
            ids.push(id);
        });
        $.ajax({
            url: "/admin/delGoods",
            type: "POST",
            data: {"ids": ids},
            dataType: "json",
            success: function (data){
                alert(data.message);
            },
            error: function (xhr) {
                alert(xhr.message);
            }
        });
    });
</script>

</body>
</html>