<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>懒人商城后台系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by mannatthemes" name="description" />
    <meta content="Mannatthemes" name="author" />
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico">

    <link href="../../static/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="topbar">
    <nav class="navbar-custom">
        <div class="topbar-left">
            <a href="index.html" class="logo">
                        <span>
                            <img src="../../static/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                        </span>
                <span>
                            <img src="../../static/assets/images/logo-dark.png" alt="logo-large" class="logo-lg">
                        </span>
            </a>
        </div>
    </nav>
</div>
<div class="page-wrapper-img">
    <div class="page-wrapper-img-inner">
        <div class="sidebar-user media">
            <div class="media-body">
                <h5 class="text-light" th:text="${session.username}">Mr. Michael Hill </h5>
                <ul class="list-unstyled list-inline mb-0 mt-2">
                    <li class="list-inline-item">
                        <a th:href="@{/user/admin/exit}" class=""><i class="mdi mdi-power text-danger"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title mb-2"><i class="mdi mdi-format-list-checkbox mr-2"></i>订单管理</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="page-wrapper-inner">
        <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span>
        <div class="left-sidenav">

            <ul class="metismenu left-sidenav-menu" id="side-nav">
                <li class="menu-title">Main</li>
                <li>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="/admin/getAllGoods"> 商品管理 </a>
                            <a href="/order/admin/all"> 订单管理 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>商品名</th>
                                        <th>购买数量</th>
                                        <th>价格</th>
                                        <th>用户id</th>
                                        <th>收货地址</th>
                                        <th>联系电话</th>
                                        <th>购买时间</th>
                                        <th>action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order:${orderList}">
                                        <td th:text="${order.getOrdId()}">id</td>
                                        <td th:text="${order.getOrdGoodName()}">商品名</td>
                                        <td th:text="${order.getOrdGoodNumb()}">数目</td>
                                        <td th:text="${order.getOrdTotal()}">价格</td>
                                        <td th:text="${order.getOrdUserId()}">用户id</td>
                                        <td th:text="${order.getOrdAddress()}">地址</td>
                                        <td th:text="${order.getOrdMobile()}">电话</td>
                                        <td th:text="${order.getOrdBuyTime()}">time</td>
                                        <td>
                                            <div class="btn-group">
                                                <a th:href="@{/admin/updOrder(id=${order.getOrdId()})}"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="far fa-edit"></i></button></a>
                                                <a th:href="@{/order/admin/delete(orderId=${order.getOrdId()})}"><button type="button" class="btn btn-outline-secondary btn-sm"><i class="far fa-trash-alt"></i></button></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/assets/js/jquery.min.js"></script>
</body>
</html>