<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>种类添加</title>
    <link href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
</head>
<body>
<p style="width: auto">商品种类添加界面</p>
<div class="ui form">
    <div class="field">
        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品ID</font></font></label>
        <input id="categoryLevel" type="text" placeholder="商品种类等级">
    </div>
    <div class="field">
        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品种类名字</font></font></label>
        <input id="categoryName" type="text" placeholder="商品种类名字">
    </div>
    <div class="field">
        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">父节点Id</font></font></label>
        <input id="parentId" type="text" placeholder="父节点Id">
    </div>
</div>
<button id="addCategory" class="positive ui button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">保存</font></font></button>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $("#addCategory").click(function (){
       let categoryLevel=$("#categoryLevel").val();
       let categoryName=$("#categoryName").val();
       let parentId=$("#parentId").val();
       $.ajax({
           url: "/admin/saveCategory",
           type: "POST",
           data: {"categoryLevel": categoryLevel,"categoryName": categoryName,"parentId": parentId,},
           dataType: "json",
           success: function (data){
               alert(data.message);
           },
           error: function (xhr){
               alert(xhr.message);
           }
       });
    });
</script>
</body>
</html>