<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>懒人电商</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/images/favicon.png"/>
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../../static/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="../../static/assets/css/slick.css">
    <link rel="stylesheet" href="../../static/assets/css/chosen.min.css">
    <link rel="stylesheet" href="../../static/assets/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../../static/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="../../static/assets/css/lightbox.min.css">
    <link rel="stylesheet" href="../../static/assets/js/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="../../static/assets/css/jquery.scrollbar.min.css">
    <link rel="stylesheet" href="../../static/assets/css/mobile-menu.css">
    <link rel="stylesheet" href="../../static/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="../../static/assets/css/style1.css">
</head>
<body class="inblog-page">
<header class="header style7">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    欢迎来到懒人商城！
                </div>
            </div>
            <div class="top-bar-right">
                <ul class="header-user-links">
                    <li th:if="${session.userId} eq null">
                        <a th:href="@{/login}">Login or Register</a>
                    </li>
                    <li th:if="${session.userId} ne null">
                        <a th:href="@{/user/exit}" th:text="${session.username}">Login or Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                    <div class="logo">
                        <img src="../../static/assets/images/logo.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-7 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                    <div class="block-search-block">
                        <form class="form-search form-search-width-category">
                            <div class="form-content">
                                <div class="inner">
                                    <input type="text" class="input" name="s" value="">
                                </div>
                                <button class="btn-search" type="submit">
                                    <span class="icon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="vertical-wapper block-nav-categori">
                    <div class="block-title">
						<span class="icon-bar">
							<span></span>
							<span></span>
							<span></span>
						</span>
                        <span class="text">All Categories</span>
                    </div>
                </div>
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="dungar-clone-mobile-menu dungar-nav main-menu " id="menu-main-menu">
                            <li class="menu-item  menu-item-has-children">
                                <a th:href="@{/}" class="dungar-menu-item-title" title="Home">  首页  </a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a th:href="@{/goods/getGoodsList}" class="dungar-menu-item-title" title="Shop">  商品  </a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a th:href="@{/shopCart/showShopCartList/}" class="dungar-menu-item-title" title="Pages">  购物车  </a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a th:href="@{/order/getall}" class="dungar-menu-item-title" title="Pages">  订单  </a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a th:href="@{/address/all}" class="dungar-menu-item-title" title="Pages">  收货地址  </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content main-content-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">
                    <h3 class="custom_blog_title">
                        Authentication
                    </h3>
                    <div class="customer_login">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="login-item">
                                    <h5 class="title-login">登录</h5>
                                    <form class="login" th:action="@{/user/login}" th:method="post">
                                        <p class="form-row form-row-wide">
                                            <label class="text">Username</label>
                                            <input th:value="${userName}" name="userName" title="username" type="text" class="input-text">
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label class="text">Password</label>
                                            <input th:value="${userPwd}" name="userPwd" title="password" type="password" class="input-text">
                                        </p>
                                        <p class="lost_password">
                                            <a href="#" class="forgot-pw">Forgot password?</a>
                                        </p>
                                        <p class="form-row">
                                            <input type="submit" class="button-submit" value="login">
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="login-item">
                                    <h5 class="title-login">注册</h5>
                                    <form th:action="@{/user/add}" th:method="post" class="register">
                                        <p class="form-row form-row-wide">
                                            <label class="text">Username</label>
                                            <input th:value="${userName}" name="userName" title="name" type="text" class="input-text">
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label class="text">Password</label>
                                            <input th:value="${userPwd}" name="userPwd" title="pass" type="password" class="input-text">
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label class="text">Your email</label>
                                            <input th:value="${userEmail}" name="userEmail" title="email" type="email" class="input-text">
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label class="text">Your Mobile</label>
                                            <input th:value="${userMobile}" name="userMobile" title="mobile" type="text" class="input-text">
                                        </p>
                                        <p class="">
                                            <input type="submit" class="button-submit" value="Register Now">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg">
                    <div class="dungar-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">开发人员</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                黄智超 吴少波 李黄斌 <br/> 苏振锋 张腾辉 李超凡
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="dungar-custommenu default">
                        <h2 class="widgettitle"></h2>
                        <ul class="menu">
                            <li class="menu-item"></li>
                            <li class="menu-item"></li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <div class="dungar-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">联系我们</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                电话:19959739899 <br/> 邮箱:904096333@qq.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>